#foo {
    width: 250px;
    height: 250px;
    background: red;

    animation-name : foo-animation;
    animation-duration : 8s;
    animation-fill-mode : forwards;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes foo-animation {
    5% {
        width: 265px;
        height:265px;
    }
    25% {
        background : orange;
        width: 150px;
        height: 150px;
    }
    75% {
        width: 200px;
        height: 200px;
        left:5px
    }
    100% {
        width:25px;
        height : 25px;
        background : purple;
        top:50px;
        left:65px
    }
}



#bar {
    width: 85px;
    height: 85px;
    background : blue;
    position: absolute;
    left: 500px;
    top: 25px;
    animation-name: couleur, taille;
    animation-duration: 8s;
}

@keyframes couleur {
    5% {
        background-color: blue;
        width: 35rem;
        height:35rem;
    }
    25% {
        background-color: red;
        width: 10rem;
        height: 10rem;
    }
    75% {
        background-color: yellow;
        width: 20rem;
        height: 40rem;
        left: 5rem;
    }
    100% {
        background-color: orange;
        width: 10rem;
        height : 40rem;
        top: 5rem;
        left: 5rem;
    }
}
