table {
    border-collapse: collapse;
    empty-cells: hide;
    border: solid black;
    width: 50%;
}
td {
    border: solid black;
    width: 50%;
}

.table2 {
    border-collapse: separate;
    empty-cells: show;
    border: solid black;
    width: 50%;
    caption-side: bottom;
}






