* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container {
    width: 100%;
    height: 10rem;
    background-color: orange;
}

nav {
    text-align: center;
    width: 5%;
}

.fa-bars {
    color: white;
    font-size: 3rem;
    margin: 2rem 2rem;
}

a {
    color: black;
    text-decoration-line: none;
    font-size: 2rem;
    margin: auto;
}

#lien1, #lien2, #lien3, #lien4 {
    width: 5%;
}

.lien_secondaire {
    display: none;
}