body {
    background-color: #E5E7E9;
    padding-left: 670px;
    margin-top: 70px;
}

body{
    border: 4px solid black;
    margin: 0;
    padding-bottom: 0;
}

h1{
    font-family: "Roboto Light", sans-serif;
    font-size: 60px;
    margin-left: -27px;
    margin-top: 50px;
    margin-bottom: -24px;
}

h2 {
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    opacity: 0.7;
    margin-left: -200px;
    margin-top: 87px;
}

#image1 {
    margin-top: 19px;
    width: 320px;
    margin-left: -305px;
}

#image2 {
    width: 310px;
    margin-left: 150px;
    margin-top: 18px;
}

#lien1 {
    text-decoration-line: none;
    margin-left: -175px;
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
}

#lien2 {
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    text-decoration-line: none;
    margin-left: 390px;
}

.border {
    border: 1px solid grey;
    background-color: grey;
    margin-left: -670px;
    padding-top: 160px;
    margin-top: 150px;
    margin-right: 0;
}
