* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: black;
}

p {
    color: white;
}

@keyframes color {
    from {
        width: 50%;
        background-color: lime;
        font-size: 2rem;
        color: white;
    }

    to {
        width: 60%;
        background-color: deeppink;
        font-size: 3rem;
        color: blue;
    }

}