* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 150rem;
}

#menu {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

.lien1, .lien2, .lien3, .lien4, .lien5 {
    width: 25%;
    height: 5rem;
    display: flex;
    align-self: center;
}

.lien1:hover, .lien2:hover, .lien3:hover, .lien4:hover, .lien5:hover {
    width: 27%;
    height: 7rem;
    background-color: black;
}

.lien1 {
    background-color: cadetblue;
}

.lien2 {
    background-color: blue;
}

.lien3 {
    background-color: purple;
}

.lien4 {
    background-color: orange;
}

.lien5 {
    background-color: red;
}

a {
    font-size: 2rem;
    color: white;
    text-decoration-line: none;
    margin: auto auto;
}

#menu2 {
    height: 25rem;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
}