.cadre {
    border: 1px solid black;
    color: coral;
}

a {
    vertical-align: super;
    text-shadow: none;
    text-decoration-line: none;
    color: grey;
}

.italic{
    font-style: italic;
}

.gras {
    font-weight: bold;
}

p {
    border-radius: 50px 40px;
    text-indent: 50px;
    margin: 15px;
    padding: 20px;
}

.ombre {
    text-shadow: 1px 1px 2px black;
}

img {
    padding-left: 70em;
}