h1 {
    text-align: center;
    font-family: "Californian FB",sans-serif;
    font-size: 50px;
    color: dodgerblue;
}
.line_vertical{
    border: 1px solid black;
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 65px;
    border-top-width: 2px;
}

.tel {
    font-weight: bold;
    padding-left: 290px;
}

.e-mail {
    font-weight: bold;
    padding-left: 60px;
}

.lieu{
    font-weight: bold;
    padding-left: 60px;
}

ul {
    padding-left: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    color: dodgerblue;
    font-family: "Californian FB", sans-serif;
    padding-left: 160px;
    padding-top: 10px;
    margin-top: 30.92px;
}

form {
    border: 1px solid black;
    margin-right: 245px;
    margin-left: 245px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 8px 6px 10px 2px lightgrey;
}

img {
    margin-left: 910px;
    border: 1px solid dodgerblue;
    border-radius: 90px 90px 90px 90px;
}

li {
    padding-bottom: 10px
}